.cart-items {
    list-style: none;
    margin: auto;
    padding: 0;
    animation: items-appear 1s ease-out forwards;

    flex-direction: column;
    width: 100%;
  }
  
  .total {
    animation: items-appear 1.5s ease-out forwards;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  }

  .orderInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .orderInfo button {
    
  color: #fff;
  width: 100%;
  background-color: rgb(50, 50, 50);
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border: 0;
  border-radius: 8px;
  font-family: inherit;
  cursor: pointer;
  font-family: 'Nunito Sans';
  letter-spacing: .2em;
  text-transform: uppercase;
  }
  

  @media (min-width: 768px) { 
    .cart-items {
      width: 70%;
    }
  }

  @keyframes items-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }