.da-title-container {
    overflow: auto;
}

.da-title-container > button,
.da-title-container > button:hover {
    float: right;

    border: 0;
    background-color: transparent;
    text-decoration: underline;
    color: #1799cf;
    padding: 0;
}

.da-title {
    color: #1799cf;
    float: left;
}

.da-card {
    padding: 1em;
    border: 1px solid #00000025;
    border-radius: 8px;
}
