.item {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    color: #414141;
}

.name {
    font-size: 12px;
}

.price {
    font-weight: 700 !important;
    margin-top: 0;
}

.button {
    color: #fff;
    width: 100%;
    background-color: rgb(50, 50, 50);
    padding: 0.3rem 1rem;
}

.circularBtn {
    position: absolute;
    top: 0.4rem;
    right: 0rem;

    cursor: pointer;

    background-color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50% 0 0 50%;
    box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.12);
    font-weight: 600;
    color: #414141;
}

.picture_container {
    position: relative;
    background-color: #f7f7f7;
    width: 250px;
    height: 300px;
    margin-bottom: 0.3em;
}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}
.fill img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.plus {
    display: inline-block;
    transition: 1s;
}
.hidden-text {
    display: none;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1em;
    transition: 0.5s;
}

.circularBtn {
    overflow: hidden;
    transition: 0.3s;
}
.circularBtn:hover {
    width: 7rem;
    border-radius: 25px 0 0 25px;
    transition: 0.3s;
}
.circularBtn:hover .hidden-text {
    display: inline-block;
    animation: text-appear 1s ease-out forwards;
}

.circularBtn:hover .plus {
    /* animation: text-disappear 1s ease-out forwards; */
    transition: 1s;
    display: none;
}

.reviewContainer {
    display: flex;
    align-items: center;
}

.reviews {
    margin-left: 1em;

    letter-spacing: 0;
    font-size: 0.7em;
    color: #41414190;

    /* padding: 1em; */
}

.star {
    display: flex;
    align-items: center;
}
.item p {
    margin-top: 1em;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateX(3rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes text-disappear {
    from {
        opacity: 1;
        transform: translateX(0rem);
    }

    to {
        opacity: 0;
        transform: translateX(-3rem);
    }
}
