
.main-content {
  font-size: 14px;
  display: flex;
  height: 80vh;
  color: #414141;
}

 .link {
  font-size: 1em;
  color: #414141;
  /* color: #1890ff; */
  text-decoration: none;
  /* border: 1px solid red; */
  padding-bottom: 24px;
}
.link-text{
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
  padding-left: 12px;
} 
.link-content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon {
  vertical-align: middle;
}

.col1 h1{
  margin-top: .5em;
}


.col1 {
  padding: 18px 5em;
  flex: 1;
  font-size: 1em;
  text-transform: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1{
  font-size: 2.5em;
  font-weight: 600;
  line-height: 1.2em;
  font-family: 'Poppins';
}

h3{
  font-weight: 800;
  font-family: 'Poppins';

}

li{
  list-style: none;
}

.price {
  font-size: 2em;
  font-weight: 300;
}

.col2 {
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  flex: 2;
}

.col3{
  flex: 1;
  text-transform: none;
  padding: 0px 0px 20px 32px
}

.col3 h3{
  margin-top: 28px;
}

.radio-color{
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  width: 100px;
}

/* input[type='radio']:after {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 8px solid #ffa500;
} */