.primarybutton {
    border: 0;
    background-color: #333333;
    padding: 10px 45px;
    color: #fff;
    font-weight: 600;
    /* border-radius: 12px; */
    /* box-shadow: 0 3px 12px #1890ff60; */
    cursor: pointer;
}
@media (max-width: 320px) {
    .primarybutton {
        font-size: 0.8em;
    }
}
